azure-mgmt-compute
azure-mgmt-network
azure-mgmt-resource
azure-functions
f5-sdk-python
msrestazure
## required dev packages
pytest==4.3.1
pytest-mock==1.10.4
pytest-cov==2.6.1
flake8==3.7.9
pylint
safety==1.8.5